{
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "next",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
    ],
    "rules": {
        "import/order": [
            1,
            {
                "groups": ["builtin", "external", "parent", "sibling", "index", "type"],
                "newlines-between": "always"
            }
        ]
    }
}
