---
import type { GetStaticPaths } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import TalkCard from "@/components/TalkCard.astro";
import Pagination from "@/components/Pagination.astro";
import { SITE } from "@/config";
import { TALKS } from "@/data/talks";

export const getStaticPaths = (({ paginate }) => {
  return paginate(TALKS, { pageSize: SITE.talkPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`Talks | ${SITE.title}`} description="Conference talks by Roman Ponomarev.">
  <Header />
  <Main pageTitle="Talks">
    <div data-pagefind-body class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {page.data.map(talk => <TalkCard {...talk} />)}
    </div>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
