.markdown {
    @apply text-xl leading-relaxed text-justify break-words;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown pre {
    @apply my-6 font-light;
}

.markdown p strong {
    @apply font-semibold;
}

.markdown h2 {
    @apply text-4xl mt-12 mb-6;
}

.markdown h3 {
    @apply text-2xl mt-8 mb-6;
}

.markdown h4 {
    @apply text-xl my-6;
}

.markdown h2, .markdown h3, .markdown h4 {
    @apply relative scroll-mt-6;
}

.markdown h2:hover > a, .markdown h3:hover > a, .markdown h4:hover > a {
    @apply opacity-100 bg-transparent;
}

.markdown h2 a, .markdown h3 a, .markdown h4 a {
    @apply absolute cursor-pointer opacity-100 md:opacity-0 w-full border-none text-black hover:opacity-100 hover:no-underline transition-opacity;
}

.markdown h2 a span, .markdown h3 a span, .markdown h4 a span {
    @apply after:content-['#'] after:-ml-8 after:opacity-0 md:after:opacity-100;
}

.markdown li {
    @apply relative pl-5;
    @apply before:absolute before:top-[16px] before:left-0 before:m-auto before:w-1 before:h-1 before:bg-black;
}

.markdown figcaption {
    @apply -mt-6 mb-6 text-center italic text-sm text-gray-500;
}

.markdown blockquote {
    @apply relative pl-5;
    @apply before:absolute before:top-0 before:left-0 before:w-1.5 before:h-full before:bg-black;
}

.markdown blockquote p {
    @apply text-base text-gray-500;
}

.markdown p code, .markdown ul code, .markdown ol code {
    @apply bg-gray-100 py-0.5 px-1 leading-none rounded-sm text-base;
}

.markdown code,
.markdown pre {
    @apply bg-gray-100 text-base font-normal;
}

.markdown [id='references'] {
    @apply hover:opacity-100;
}

.markdown [id='references'] a span {
    @apply after:content-none;
}

.markdown [id='references'] ~ * {
    @apply text-sm my-0;
}

.markdown hr {
    @apply border-t border-gray-100;
}

.markdown nav {
    @apply my-16;
}

.markdown nav ol ol {
    @apply my-0;
}
