---
import { Icon } from "astro-icon/components";
import { parseDiscussionUrl } from "@/utils/parseDiscussionUrl";

type Props = {
  discussions: string[];
  open?: boolean;
};

const { discussions, open = false } = Astro.props;
const items = discussions.map(parseDiscussionUrl);
---

<details class="mt-6 border-2 border-border" {...open ? { open: true } : {}}>
  <summary
    class="flex cursor-pointer items-center gap-2 px-4 py-3 font-heading text-lg tracking-wide select-none"
  >
    <Icon name="carbon:chat" class="inline-block size-5" />
    Discussions
  </summary>
  <ul class="flex flex-col gap-2 px-4 pb-4 pt-2">
    {
      items.map(({ icon, label, url }) => (
        <li>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 hover:opacity-60"
          >
            <Icon name={icon} class="inline-block size-5" />
            <span>{label}</span>
          </a>
        </li>
      ))
    }
  </ul>
</details>
